#
# Copyright (c) 2019, Oracle and/or its affiliates. All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#
apiVersion: servicecatalog.k8s.io/v1beta1
kind: ServiceInstance
metadata:
 name: teststream
spec:
 clusterServiceClassExternalName: oss-service
 clusterServicePlanExternalName: standard
 parameters:
   name: teststream
   compartmentId: CHANGE_COMPARTMENT_OCID_HERE
   partitions: CHANGE_PARTITION_COUNT_HERE
# Use streampoolId for creating stream associated with a streampool. Do not use compartmentId when using streampoolId
#   streampoolId: CHANGE_STREAM_POOL_OCID_HERE
